<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Blog</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping list</a>
      </li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown" appDropdown ngbDropdown>
        <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
        </div>
      </div>
    </ul>

  </div>
</nav>
