<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Blog</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping list</a>
      </li>


    </ul>
    <ul class="navbar-nav  ms-auto">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-outline-dark" role="button">Manage</a>
        <ul class="dropdown-menu">
          <li><a href="">save</a></li>
          <li><a href="">save</a></li>

        </ul>
      </li>

    </ul>

  </div>
</nav>
